{
    "AWSTemplateFormatVersion" : "2010-09-09",
    "Description"              : "Elastic Beanstalk Stack",
    "Parameters": {
        "Environment" : {
            "Type"    : "String",
            "Default" : "{{Environment}}"
        },
        "AppName":  {
            "Type"    : "String",
            "Default" : "{{app_name}}"
        },
        "SNSTopicName" : {
            "Type"    : "String",
            "Default" : "{{SNSTopicName}}"
        },
        "SNSDisplayName" : {
            "Type"    : "String",
            "Default" : "{{SNSDisplayName}}"
        }
    },
    "Resources": {
        "Sns" : {
            "Type"       : "AWS::SNS::Topic",
            "Properties" : {
                "TopicName"   : {"Ref": "SNSTopicName"},
                "DisplayName" : {"Ref": "SNSDisplayName"}
            }
        },
        "Application" : {
            "Type"       : "AWS::ElasticBeanstalk::Application",
            "Properties" : {
                "ApplicationName" : { "Fn::Join" : ["-", [ {"Ref": "AppName"}, {"Ref": "Environment"} ] ] },
                "Description"     : "AWS Elastic Beanstalk Application"
            }
        }
    },
    "Outputs": {
        "Stack" : {
            "Description" : "Stack",
            "Value"       : { "Ref": "AWS::StackId" }
        },
        "Environment" : {
            "Description" : "Environment",
            "Value"       : { "Ref" : "Environment" }
        },
        "AppName" : {
            "Description" : "AppName",
            "Value"       : { "Ref" : "AppName" }
        },
        "Application" : {
            "Description" : "Application",
            "Value"       : { "Ref" : "Application" }
        },
        "SNSTopicName" : {
            "Description" : "SNSTopicName",
            "Value"       : { "Ref": "SNSTopicName" }
        },
        "SNSDisplayName" : {
            "Description" : "SNSDisplayName",
            "Value"       : { "Ref": "SNSDisplayName" }
        }
    }
}